<div class="card_container ion-activatable">
  <ion-ripple-effect></ion-ripple-effect>
  <img class="card_container__avatar" [src]="user.picture.thumbnail" />

  <div class="card_container__right">
    <h4 class="card_container__right__title">
      {{user.name.title}} {{user.name.first}} {{user.name.last}}
    </h4>
    <ul>
      <li class="card_container__right__content">
        <ion-icon name="location-outline"></ion-icon> {{user.location.city}} / {{user.nat}}
      </li>
      <li class="card_container__right__content">
        <span class="card_container__right__content align_left">
          <ng-container *ngIf="user.gender === 'male'">
            <ion-icon name="male-outline"></ion-icon> {{user.gender}}
          </ng-container>
          <ng-container *ngIf="user.gender === 'female'">
            <ion-icon name="female-outline"></ion-icon> {{user.gender}}
          </ng-container>
        </span>
        <span class="card_container__right__content align_right">
          <ion-icon name="calendar-outline"></ion-icon> {{user.dob.date | date}}
        </span>
      </li>
    </ul>
  </div>

</div>