<div class="card_container ion-activatable">
  <ion-ripple-effect></ion-ripple-effect>
  <img class="card_container__avatar"
    src="https://thumbs.dreamstime.com/b/retrato-f%C3%AAmea-da-mulher-do-avatar-do-%C3%ADcone-do-perfil-ocasional-58249368.jpg" />

  <div class="card_container__right">
    <h4 class="card_container__right__title">Nome da pessoa Nome</h4>
    <ul>
      <li class="card_container__right__content">
        <ion-icon name="location-outline"></ion-icon> Cidade - Brasil
      </li>
      <li class="card_container__right__content">
        <span class="card_container__right__content align_left">
          <ion-icon name="male-outline"></ion-icon> Male
        </span>
        <span class="card_container__right__content align_right">
          <ion-icon name="calendar-outline"></ion-icon> 27/02/2021
        </span>
      </li>
    </ul>
  </div>

</div>