:root {
  --pharma-color-primary: #00afad;
  --pharma-color-primary-rgb: rgb(0, 175, 173);
  --pharma-color-primary-contrast: #ffffff;
  --pharma-color-primary-contrast-rgb: 255, 255, 255;
  --pharma-color-primary-shade: #00817f;
  --pharma-color-primary-tint: #45cfcd;

  --pharma-color-secondary: #0083ca;
  --pharma-color-secondary-rgb: rgb(0, 131, 202);
  --pharma-color-secondary-contrast: #ffffff;
  --pharma-color-secondary-contrast-rgb: 255, 255, 255;
  --pharma-color-secondary-shade: #035581;
  --pharma-color-secondary-tint: #53a6d3;

  --pharma-color-tertiary: #f26522;
  --pharma-color-tertiary-rgb: rgb(242, 101, 34);
  --pharma-color-tertiary-contrast: #ffffff;
  --pharma-color-tertiary-contrast-rgb: 255, 255, 255;
  --pharma-color-tertiary-shade: #b9450f;
  --pharma-color-tertiary-tint: #ec804d;

  --pharma-color-warning: #fcaf17;
  --pharma-color-warning-rgb: rgb(252, 175, 23);
  --pharma-color-warning-contrast: #000000;
  --pharma-color-warning-contrast-rgb: 0, 0, 0;
  --pharma-color-warning-shade: #d38d00;
  --pharma-color-warning-tint: #f5bf53;

  --pharma-color-dark-blue: #003461;
  --pharma-color-dark-blue-rgb: rgb(0, 52, 97);
  --pharma-color-dark-blue-contrast: #ffffff;
  --pharma-color-dark-blue-contrast-rgb: 255, 255, 255;
  --pharma-color-dark-blue-shade: #07253f;
  --pharma-color-dark-blue-tint: #1e5e96;
}
