@import url("./pharma.theme.scss");

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: --pharma-color-primary;
  --ion-color-primary-rgb: --pharma-color-primary-rgb;
  --ion-color-primary-contrast: --pharma-color-primary-contrast;
  --ion-color-primary-contrast-rgb: --pharma-color-primary-contrast-rgb;
  --ion-color-primary-shade: --pharma-color-primary-shade;
  --ion-color-primary-tint: --pharma-color-primary-tint;

  /** secondary **/
  --ion-color-secondary: --pharma-color-secondary;
  --ion-color-secondary-rgb: --pharma-color-secondary-rgb;
  --ion-color-secondary-contrast: --pharma-color-secondary-contrast;
  --ion-color-secondary-contrast-rgb: --pharma-color-secondary-contrast-rgb;
  --ion-color-secondary-shade: --pharma-color-secondary-shade;
  --ion-color-secondary-tint: --pharma-color-secondary-tint;

  /** tertiary **/
  --ion-color-tertiary: --pharma-color-tertiary;
  --ion-color-tertiary-rgb: --pharma-color-tertiary-rgb;
  --ion-color-tertiary-contrast: --pharma-color-tertiary-contrast;
  --ion-color-tertiary-contrast-rgb: --pharma-color-tertiary-contrast-rgb;
  --ion-color-tertiary-shade: --pharma-color-tertiary-shade;
  --ion-color-tertiary-tint: --pharma-color-tertiary-tint;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: --pharma-color-warning;
  --ion-color-warning-rgb: --pharma-color-warning-rgb;
  --ion-color-warning-contrast: --pharma-color-warning-contrast;
  --ion-color-warning-contrast-rgb: --pharma-color-warning-contrast-rgb;
  --ion-color-warning-shade: --pharma-color-warning-shade;
  --ion-color-warning-tint: --pharma-color-warning-tint;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-dark-blue: --pharma-color-dark-blue;
  --ion-color-dark-blue-rgb: --pharma-color-dark-blue-rgb;
  --ion-color-dark-blue-contrast: --pharma-color-dark-blue-contrast;
  --ion-color-dark-blue-contrast-rgb: --pharma-color-dark-blue-contrast-rgb;
  --ion-color-dark-blue-shade: --pharma-color-dark-blue-shade;
  --ion-color-dark-blue-tint: --pharma-color-dark-blue-tint;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
