<ion-header class="ion-no-border">
  <ion-toolbar class="title-toolbar">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="search_container">
      <ion-searchbar class="search_container__searchbar" slot="start" [formControl]="searchField" debounce="100"
        mode="ios" showCancelButton="focus" (ionChange)="filterUsers()" placeholder="Search by name or country">
      </ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="openPopover($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-user-card [users]="filterUsers()" (selectedUser)="open($event)">
    </app-user-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button>
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="call"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>