<div class="card_spacer"></div>
<div class="card_container">
  <div class="card_container__header">

    <img class="card_container__header__avatar"
      src="https://thumbs.dreamstime.com/b/retrato-f%C3%AAmea-da-mulher-do-avatar-do-%C3%ADcone-do-perfil-ocasional-58249368.jpg" />

    <h2 class="card_container__header__titulo">Nome do usuário</h2>
    <span class="card_container__header__subtitulo">
      <ion-icon name="location-outline"></ion-icon> Cidade - Brasil
    </span>
  </div>

  <ion-list lines="full">
    <ion-item>
      <ion-icon name="gift-outline" slot="start"></ion-icon>
      <ion-label class="card_container__header__texto">
        10/10/2000
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label class="card_container__header__texto">
        Endereço do local
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
      <ion-label class="card_container__header__texto">
        000-00000-00000
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label class="card_container__header__texto">
        000-00000-00000
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label class="card_container__header__texto">
        email@email.com
      </ion-label>
    </ion-item>
  </ion-list>
</div>